doctype html
html(lang="ru")
	head
		include pugs/head
	body
		main.article
			.article__container
				.article__wrapper
					.article__title Где работает доставка?
						a(href="#").article__icon-share
					.article__text Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.<br>Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.<br>Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.<br>Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
					.article__footer Проблема не решилась? Свяжитесь с нами, мы поможем
					.article__controls 
						a(href="").article__btn-green.br-12 Онлайн-чат
							span.article__icon-message 
						a(href="").article__btn.br-12 
							img(src="/images/icons/telgreen.png", alt="vector")
						a(href="").article__btn.br-12 
							img(src="/images/icons/postgreen.png", alt="vector")

			