header.header 
	.header__container.container
		.header__wrapper.br-40 
			.header__fly-img 
				img(src="images/fly.svg" alt="fly") 
			.header__head-img 
				img(src="images/head.svg" alt="head") 
			.header__body
				.header__title Поддержка здесь
				.header__text Мы любим общаться и рады всем отзывам, вопросам и предложениям. Выберите удобный способ
			.header__nav.nav-header 
				a(href="#").nav-header__btn.btn.br-12 Онлайн-чат
					span.nav-header__icon-chat
				a(href="#").nav-header__btn.btn.br-12 Позвонить
					span.nav-header__icon-tel
				a(href="#").nav-header__btn.btn.br-12 Почта
					span.nav-header__icon-post
				a(href="#").nav-header__btn.btn.br-12 Отзыв о сайте
					span.nav-header__icon-star
		