section.main__info.info
	.info__title.title Справка
	.info__main.main-info
		a(href="#").main-info__link.br-16 
			.main-info__body 
				.main-info__title Бережная сборка
			.main-info__img
				img(src="../images/icons/arrow2.svg", alt="click")
		a(href="#").main-info__link.br-16 
			.main-info__body 
				.main-info__title Способы доставки и самовывоза
				.main-info__text Это карта лояльности с вашим номером покупат Это карта лояльности с вашим номером покупат
			.main-info__img
				img(src="../images/icons/arrow2.svg", alt="click")
		a(href="#").main-info__link.br-16 
			.main-info__body 
				.main-info__title Минимальная сумма заказа
			.main-info__img
				img(src="../images/icons/arrow2.svg", alt="click")
		a(href="#").main-info__link.br-16 
			.main-info__body 
				.main-info__title Лёгкий возврат
				.main-info__text Это карта лояльности с вашим номером покупат Это карта лояльности с вашим номером покупат
			.main-info__img
				img(src="../images/icons/arrow2.svg", alt="click")
