section.main__questions.questions
	.questions__container.container
		.questions__title.title Часто задаваемые вопросы
		.questions__slider.slider(data-slider="main")
			.slider__main(data-slider="body")
				.slider__cards
					.slider__left-card.left-card.br-16 
						.left-card__body
							.left-card__title Где работает доставка1?
						img(src="/images/bag2.svg", alt="bag")
					.slider__right-card.right-card.br-16 
						.right-card__title Где работает доставка?
						.right-card__text Карта лояльности с вашим номером покупателя. Это карта лояльности с вашим
				.slider__cards
					.slider__left-card.left-card.br-16 
						.left-card__body
							.left-card__title Где работает доставка2?
							.left-card__text Карта лояльности с вашим номером 
						img(src="/images/bag2.svg", alt="bag")
					.slider__right-card.right-card.br-16 
						.right-card__title В какое время возможен самовывоз В какое время возможен самовывоз?
						.right-card__text Карта лояльности с вашим 
				.slider__cards
					.slider__left-card.left-card.br-16 
						.left-card__body
							.left-card__title Где работает доставка3?
							.left-card__text Карта лояльности с вашим номером1 
						img(src="/images/bag2.svg", alt="bag")
					.slider__right-card.right-card.br-16 
						.right-card__title В какое время возможен самовывоз В какое время возможен самовывоз1?
						.right-card__text Карта лояльности с вашим
			.slider__controls(data-slider="control")
				button(type="button").slider__arrow-next
