section.main__social.social
	.social__container.container
		.social__body.br-40
			.social__left 
				.social__text Социальные сети и сообщество
				.social__title.title Присоединяйтесь
			.social__right 
				a(href="#").social__btn
					img(src="/images/icons/vk.png", alt="vk")
				a(href="#").social__btn
					img(src="/images/icons/instagram.png", alt="instagram")
				a(href="#").social__btn
					img(src="/images/icons/tiktok.png", alt="tiktok")
				a(href="#").social__btn
					img(src="/images/icons/twiter.png", alt="twiter")
				a(href="#").social__btn
					img(src="/images/icons/vector.png", alt="vector")
				a(href="#").social__btn
					img(src="/images/icons/facebook.png", alt="facebook")